body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    text-align: center; /* Centraliza o texto horizontalmente */
  }
  
  nav {
    background-color: #333;
    padding: 15px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ddd;
  }
  
  .content-section {
    padding: 40px;
    background-color: #fff;
    margin: 0 auto; /* Centraliza a seção horizontalmente */
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p {
    line-height: 1.6;
  }
  
  .content-section a {
    color: #007bff;
  }
  
  .search-box {
    display: inline-flexbox;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input, button {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
  }
  
  a:hover {
    color: #555;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
  }
  
  label {
    margin-bottom: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  