/* Reutilize as variáveis e estilos do main.css */
@import url("main.css");

/* Estilos específicos para a página "agencias.html" */

body {
    background-color: var(--secondary-color);
}

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

.agencies-intro {
    text-align: center;
    padding: 2rem;
}

.agencies-intro h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.agencies-intro p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.agencies-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.agencies-list li {
    background-color: #3498db; /* Blue background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    text-align: center;
    color: black; /* Text color outside the boxes */
}

.agencies-list li a {
    text-decoration: none;
    color: inherit; /* Inherit text color from parent (black) */
}

.agencies-list li img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.agencies-list li h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: white; /* Text color inside the boxes */
}

.agencies-list li p {
    font-size: 1rem;
    line-height: 1.5;
    color: white; /* Text color inside the boxes */
}

.call-to-action {
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
}

.call-to-action h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
}

.call-to-action p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
}

.contact-button {
    background-color: white;
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.contact-button:hover {
    background-color: #f2f2f2;
}

/* Ensure there are no conflicting styles */
section.agencies-intro * {
    color: inherit; /* Inherit color from parent (usually black) */
}

section.agencies-intro h2, section.agencies-intro p {
    color: black; /* Set the desired black color */
}




