header {
    position: relative; /* or absolute, fixed, depending on your needs */
    z-index: 1000; /* any number larger than the z-index of other elements */
}

#container {
    display: flex;
    padding: 10px;
    gap: 10px;
}

#rotas {
    width: 30vw;
    height: 100vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

#mapa {
    width: 70vw;
    height: 100vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

.route {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #CCCCCC
}

.route h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
}

.route p {
    color: #666;
    font-size: 14px;
    margin: 0;
}

.place-autocomplete-card {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #000000;
  }
  
  gmp-place-autocomplete {
    width: 300px;
  }
  
  infowindow-content .title {
    font-weight: bold;
  }
  
  map .infowindow-content {
    display: inline;
  }
